.parentDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.flexItem {
    min-width: 50px;
    margin-left: 10px;
}

.formControl {
    min-width: 100px !important;
}

.addProductTitle {
    border-bottom: 2px solid #023e8a;
    padding-bottom: 3px;
    padding-right: 10px;
    width: fit-content;
    position: relative;
    left: 2%;
    color: #023e8a;
    font-weight: 600;
    white-space: nowrap;
}

.addFeatureTitle {
    padding-bottom: 3px;
    width: 90px;
    position: relative;
    left: 2%;
    color: #023e8a;
    font-weight: 600;
    white-space: nowrap;
}

.textField {
    flex: 1 0 48%;
    flex-direction: column;
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.featureDescription {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.dynamicFieldsContainer{
    margin-top: 20px;

}

.submitContainer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.dynamicFields {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.iconButton {
    flex-basis: 33.33%;
    text-align: start;
}

.parentDynamicFieldDiv {
    display: flex;
}

.featureDescriptionChild {
    flex-basis: 54%;
}

.alert{
    position: fixed;
    z-index: 999;
    top: 100px;
}

.imageName{
    color: grey;
    margin-top: 20px;
}