.container{
    padding: 50px;
}
.logoutBtn{
    color:white;
    background-color: red;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #80808085;
}

.logoutBtnContainer{
    margin-top: 30px;
}

.userDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.userItem{
    margin:10px;
    display: flex;
}

.userItemLHS{
    font-weight: 300;
    width: 150px;
}

.user {
    margin-top: 10px;
    font-weight: 600;
    color: #023e8a;
    flex-basis: 10%;
}

.userImage {
    flex-basis: 9%;
}

.profileContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profileBox{
    width: 80%;
}