.productCard{
    margin: 15px;
    box-shadow: 0px 0px 5px 1px #808080ab;
    border-radius: 3px;
    width: 250px;
    flex-shrink: 0;
    transition: transform .5s;
    cursor: pointer;
}

.productCard:hover{
    transform: scale(1.05);
}

.cardContent{
    padding: 10px;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.productTitle{
    font-weight: 700;
    color: #023e8a;
    font-size: 15px;
    flex: 1 1 auto;
    height: 75px;
}
.basePrice{
    color: #023e8a;
    flex: 2 0 auto;
    padding-left: 3px;
}

.lhs{
    font-size: 13px;
    color: #03045e;
}

.rhs{
    font-size: 13px;
    color: #03045e;
}

.row2, .row3, .row5{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.row4{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #03045e;
    font-weight: 600;
    margin: 5px;
}

.timer{
    color: #023e8a;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.status{
    font-size: 13px;
    color: white;
    width: fit-content;
    padding: 5px 10px 5px 10px;
}

.statusContainer{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.viewResults{
    color: #023e8a;
    border: 1px solid #023e8a;
    padding: 5px;
    font-size: 13px;
    transition: all 1s;
    margin-left: 10px;
}

.viewResults:hover{
    color: white;
    background-color: #023e8a;
}

.overlay{
    position: absolute;
}